<html>
    <head>
        <title>{{ heading }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main_CSS.css') }}">
        <script src="{{ url_for('static',filename='JS/mainJS.js') }}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=McLaren'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Creepster'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Aclonica'>

        <script src="https://www.w3schools.com/w3css/4/w3.css"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="">
        <div class="fluid-container">
            <!--Header Starts-->
            <div class="row">
                <div class="col-sm-12 header_background">
                    <p class="header-text text-center">Online Halwaai</p>
                    <p class="tagline-text text-center">TASTE THE MYTH</p>
                </div>
            </div>
            <!--Header Ends-->

            <!--Navigation Bar Start-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('home_online_halwaai') }}">online Halwaai</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('order_online_halwaai') }}"><span class="glyphicon glyphicon-cutlery"></span>Order</a></li>
                            {% if current_user.is_authenticated %}
                              <li><a href="{{ url_for('logout_online_halwaai') }}"><span class="glyphicon glyphicon-user"></span>Sign Out</a></li>
                              <li><a href="{{ url_for('account_online_halwaai') }}"><span class="glyphicon glyphicon-user"></span>Account</a></li>
                            {% else %}
                              <li><a href="{{ url_for('signup_online_halwaai') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                              <li><a href="{{ url_for('login_online_halwaai') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                        {% if heading=='Sign Up - online Halwaai' or heading=='Login - online Halwaai' or heading=='online Halwaai - Taste the Myth' or heading=='Account - online Halwaai' %}
                        <form class="navbar-form navbar-right" action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="search">
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                        {% elif heading=='Order - online Halwaai' %}
                        <form class="navbar-form navbar-right" action="http://localhost:5000/checkout_online_halwaai">
                              <button type="submit" class="btn btn-default">Checkout</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
        </div>
    </body>

</html>
