<link rel="stylesheet" href="{{ url_for('static',filename='CSS/main_CSS.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/loginPageCSS.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=McLaren' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% extends 'extend.html'%}
{% block body %}
<div class="fluid-container background">
    <!--Login Page Work-->
    <div class="login-form login-background">
        <div class="main-div">
            <div class="panel">
                <h2 class="text-center">Login</h2>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form id="Login" name="myForm" method="POST" action="http://localhost:5000/login">
                    <div class="form-group">
                        <label><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="email" class="form-control" placeholder="Email Address" name="emailID" ng-model="emailID" ng-pattern =  "/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                        <span ng-show="myForm.emailID.$touched &&  myForm.emailID.$invalid" style="color:red;">* Email ID is required.</span>
                        <p><span ng-show="myForm.emailID.$error.pattern" style="color: red;">* Invalid email address.</span></p>
                    </div>
                    <div class="form-group">
                        <label><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" name="pwd" placeholder="Password" ng-model="pwd" required>
                        <span ng-show="myForm.pwd.$touched && myForm.pwd.$invalid" style="color: red">* Password is required</span>
                    </div>
                    <div class="forgot">
                        <a href="reset.html">Forget Password ? </a>
                    </div>
                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary">Login</button>
                </form>
                <div class="row">
                    <div class="col-lg-6 log_btn1">
                        <a href="http://www.facebook.com"><button class="btn btn_color1"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button></a>
                    </div>
                    <div class="col-lg-6 log_btn2">
                        <a href="http://www.gmail.com"><button class="btn btn_color2"><i class="fa fa-google fa-fw"></i> Login with Google+</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Login Work Ends-->

    <!--Footer Work Start-->
    <div class="fluid-container footer_background">
        <footer>
            <div class="row">
                <p class="col-sm-12 text-center footer_heading"><strong>Subscribe to your Newsletter</strong></p>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <p class="news_offer1"><span class="glyphicon glyphicon-check"></span>Don't miss out on our great offers</p>
                </div>
                <div class="col-sm-6 text-center">
                    <p class="news_offer2"><span class="glyphicon glyphicon-check"></span>Receive deals from all our top restaurants via e-mail</p>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="mainselection">
                        <select>
                            <option>Select your city</option>
                            <option>Ludhiana</option>
                            <option>Chandigarh</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control email_box" id="usr" value="Enter your Email">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-lg">Sign Up Now</button>
                </div>
            </div>
        </footer>
    </div>
    <!--Footer Work End-->
</div>
<script src="{{ url_for('static',filename='JS/mainJS.js') }}"></script>
{% endblock %}
