<html> 
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SignUpCss.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main_CSS.css') }}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>         
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>         
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>         
        <link href='https://fonts.googleapis.com/css?family=McLaren' rel='stylesheet'> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>         
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>     
    <body ng-app=""> 
        <div class="fluid-container"> 
            <!--Header Starts-->             
            <div class="row"> 
                <div class="col-sm-12 header_background"> 
                    <p class="header-text text-center">Online Halwaai</p> 
                    <p class="tagline-text text-center">TASTE THE MYTH</p> 
                </div>                 
            </div>             
            <!--Header Ends-->

            <!--Navigation Bar Start-->             
            <nav class="navbar navbar-inverse"> 
                <div class="container-fluid"> 
                    <div class="navbar-header"> 
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                        </button>                         
                        <a class="navbar-brand" href="{{ url_for('home_online_halwaai') }}">online Halwaai</a>
                    </div>                     
                    <div class="collapse navbar-collapse" id="myNavbar"> 
                        <ul class="nav navbar-nav"> 
                            <li><a href="{{ url_for('order_online_halwaai') }}"><span class="glyphicon glyphicon-cutlery"></span>Order</a></li>
                            <li><a href="{{ url_for('signup_online_halwaai') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="{{ url_for('login_online_halwaai') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>7
                        </ul>                         
                        <form class="navbar-form navbar-right" action=""> 
                            <div class="form-group"> 
                                <input type="text" class="form-control" placeholder="Search" name="search"> 
                            </div>                             
                            <button type="submit" class="btn btn-default">Search</button>                             
                        </form>                         
                    </div>                     
                </div>                 
            </nav>             
            <!--Navigation Bar End-->

            <!--Sign Up Form Work start-->
            <div class="background">
                <form class="form-horizontal" role="form" name="myForm" action="http://localhost:5000/signup" method="POST">
                    <h2>Sign Up</h2>
                    <div class="form-group">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li style="color:red;">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="first_name" ng-model="first_name" placeholder="First Name" class="form-control" required>
                            <span ng-show="myForm.first_name.$touched  && myForm.first_name.$invalid" style="color:red;">* First Name is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="last_name" ng-model="last_name" placeholder="Last Name" class="form-control" required>
                            <span ng-show="myForm.last_name.$touched  && myForm.last_name.$invalid" style="color:red;">* Last Name is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone number </label>
                        <div class="col-sm-9">
                            <input type="text" name="phoneno" ng-model="phoneno" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" placeholder="Phone number" class="form-control" required>
                            <span ng-show="myForm.phoneno.$touched  && myForm.phoneno.$invalid" style="color:red;">* Phone number Required</span>
                            <span ng-show="myForm.phoneno.$error.pattern" style="color: red;">* Invalid Mobile Number</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email </label>
                        <div class="col-sm-9">
                            <input type="email" name="email_id" ng-model="email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="Email" class="form-control" required>
                            <span ng-show="myForm.email_id.$touched  && myForm.email_id.$invalid" style="color:red;">* Required Email ID</span>
                            <span ng-show="myForm.email_id.$error.pattern" style="color:red;">* Invalid Email ID</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="margin-top:-10px;"> Create Password</label>
                        <div class="col-sm-9">
                            <input type="password" name="pwd" ng-model="pwd" ng-minlength="8" ng-maxlength="20" placeholder="Password" class="form-control" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                            <span ng-show="myForm.pwd.$touched && myForm.pwd.$invalid" style="color:red;">* Required Password</span>
                            <p><span ng-show="!myForm.pwd.$error.required && (myForm.pwd.$error.minlength || myForm.pwd.$error.maxlength) && myForm.pwd.$dirty" style="color: red;">* Password must be between 8 and 20 characters.</span></p>
                            <span ng-show="!myForm.pwd.$error.required && !myForm.pwd.$error.minlength && !myForm.pwd.$error.maxlength && myForm.pwd.$error.pattern && myForm.pwd.$dirty" style="color: red;">* Must contain one lower &amp; uppercase letter and one non-alpha character</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="margin-top:-10px;">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="password" name="cpwd" ng-model="cpwd" placeholder="Password" class="form-control" ng-pattern="pwd" required>
                            <span ng-show="myForm.cpwd.$touched  && myForm.cpwd.$invalid" style="color:red;">* Required Password</span>
                            <span ng-show="myForm.cpwd.$error.pattern" style="color:red;">* Passwords do not match.</span>
                            <span ng-show="myForm.cpwd.$valid" style="color:green;">Password Matched</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">Sign Up</button>
                </form>
                <!--Footer Work Start-->
                <div class="fluid-container footer_background">
                    <footer>
                        <div class="row">
                            <p class="col-sm-12 text-center footer_heading"><strong>Subscribe to your Newsletter</strong></p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <p class="news_offer1"><span class="glyphicon glyphicon-check"></span>Don't miss out on our great offers</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <p class="news_offer2"><span class="glyphicon glyphicon-check"></span>Receive deals from all our top restaurants via e-mail</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="mainselection">
                                    <select>
                                        <option>Select your city</option>
                                        <option>Ludhiana</option>
                                        <option>Chandigarh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control email_box" id="usr" value="Enter your Email">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-lg">Sign Up Now</button>
                            </div>
                        </div>
                    </footer>
                </div>
                <!--Footer Work End-->
            </div>
        </div>         
        <script src="{{ url_for('static',filename='JS/signUpJS.js') }}"></script>
    </body>     
</html>
